<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main>
    <div class="header">
      <h1>Financeiro - Novo Registro de Cobrança</h1>
    </div>
    <div class="container-cadastroC">
      <form action="/novaCobranca" method="post">
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" name="dsCobranca" class="form-control" maxlength="100"
                style="width: 860px; margin-top: 10px;" required />
              <label class="form-label" for="dsCobranca">Descrição</label>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="date" name="dataCobranca" class="form-control" style="width: 180px;" required />
              <label class="form-label" for="dataCobranca">Data</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" name="valorCobranca" class="form-control money" style="width: 180px;" required />
              <label class="form-label" for="valorCobranca">Valor</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select id="situacao" name="situacaoCobranca" class="form-control" style="width: 180px;">
                <% for (let i = 0; i < valuesS.length; i++) { %>
                <option value="<%= valuesS[i].ID_SituacaoCobranca %>"><%= valuesS[i].DS_SituacaoCobranca %></option>
                <% } %>
              </select>
              <label class="form-label" for="situacao">Situação</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select id="tipo" name="tipoCobranca" class="form-control" style="width: 180px;">
                <% for (let i = 0; i < valuesT.length; i++) { %>
                <option value="<%= valuesT[i].ID_TipoCobranca %>"><%= valuesT[i].DS_TipoCobranca %></option>
                <% } %>
              </select>
              <label class="form-label" for="tipo">Tipo de Pagamento</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10px;">Efetuar
          cadastro</button>
        <a href="/financeiro/recebimentos">
          <input value="Cancelar" class="btn btn-primary btn-block mb-4"
            style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">
        </a>
      </form>
    </div>
  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>