<!doctype html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Autopeças McQueen</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
    <link rel="icon" href="../../public/image/logo.png" type="image/png" />
    <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../public/assets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

    <%- include('_lateral-bar.ejs') %>

    <main>
        <div class="header">
            <h1>Detalhes de Venda</h1>
        </div>

        <div class="card-body">
            <table class="table">
                <tr>
                    <td class="fw-bold">Codigo do Pedido </td>
                    <td> <%= venda.ID_Pedido %> </td>
                </tr>
                <tr>
                    <td class="fw-bold">Venda efetuada por </td>
                    <td> <%= venda.NM_NomeFuncionario %> </td>
                </tr>
                <tr>
                    <td class="fw-bold">Cliente </td>
                    <td><%= venda.NM_NomeCliente %></td>
                </tr>
                <tr>
                    <td class="fw-bold">Data do Pedido</td>
                    <td><%= venda.DT_Pedido.toLocaleDateString('pt-BR', {year:"numeric", month:"numeric", day:"numeric"}) %>
                    </td>
                </tr>
                <tr>
                    <td class="fw-bold">Valor do Pedido</td>
                    <td>R$ <%= venda.VL_Valor %></td>
                </tr>
                <tr>
                    <td class="fw-bold">Status do Pedido</td>
                    <td><%= venda.DS_Status%></td>
                </tr>
                <tr>
                    <td class="fw-bold">Forma de Pagamento</td>
                    <td><%= venda.DS_FormaPagamento %> <br> Quantidade de Parcelas: <%= venda.NR_QtdParcelas ?? "N/I" %>
                    </td>
                </tr>
            </table>
            <a href="/comercial/vendas">
                <input value="Voltar" class="btn btn-primary btn-block mb-4"
                    style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;" />
            </a>
        </div>
    </main>

    <!-- Scripts -->
    <%- include('_scripts.ejs') %>
</body>

</html>