<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Autopeças McQueen</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/" />
    <link rel="icon" href="../../public/image/logo.png" type="image/png" />
    <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/assets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <%- include('_lateral-bar.ejs') %>

    <main>
        <div class="header">
            <h1>Vendas - Nova Venda</h1>
        </div>
        <div class="container-cadastroC">
            <form action="/efetivaNovaVenda" method="post">
                <div class="row mb-4">
                    <div class="col">
                        <select id="vendedor" class="form-control" name="vendedor"
                            style="width: 415px;margin-top: 10px;margin-left: 20px;" disabled required>
                            <% for (let i = 0; i < funcionario.length; i++) { %>
                            <option value="<%= funcionario[i].ID_Funcionario %>">
                                <%= funcionario[i].NM_Nome %>
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1" style="margin-left: 20px">Vendedor</label>
                    </div>

                    <div class="col">
                        <select id="cliente" class="form-control" name="cliente" style="width: 415px; margin-top: 10px"
                            required>
                            <% for (let i = 0; i < cliente.length; i++) { %>
                            <option value="<%= cliente[i].ID_Cliente %>">
                                <%= cliente[i].NM_Nome %>
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1">Cliente</label>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col">
                        <select id="produtoNovaVenda" name="produto" class="form-control"
                            style="width: 470px; margin-left: 20px">
                            <% for (let i = 0; i < produto.length; i++) { %>
                            <option
                                value="<%= produto[i].NR_SKU %>|<%= produto[i].NM_Produto %>|<%= produto[i].VL_Preco %>">
                                <%= produto[i].NR_SKU %> - <%=
                                    produto[i].NM_Produto %>
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1" style="margin-left: 20px">Produto</label>
                    </div>

                    <div class="col">
                        <input type="number" id="quantidade" name="quantidade" class="form-control" style="width: 100px"
                            min="1" value="1" required />
                        <label class="form-label" for="form6Example1">Quantidade</label>
                    </div>

                    <div class="col">
                        <input type="button" value="Adicionar produto" class="form-control" style="width: 150px"
                            id="addProduct" onclick="adicionaProduto()" />
                    </div>
                </div>

                <div class="row mb-4" style="width: 100%; margin-left: 10px">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">SKU</th>
                                <th scope="col">Produto</th>
                                <th scope="col">Valor Unitario</th>
                                <th scope="col">QTD. Produto</th>
                                <th scope="col">Valor Total por Produto</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody"></tbody>
                    </table>
                    <div class="col">
                        <div class="form-outline" style="text-align: right;">
                            <label id="lValorTotal" for="form6Example2"
                                style="font-size: 14pt; font-weight: bold;"></label>
                        </div>
                    </div>
                </div>

                <div class="row mb-4" style="width: 100%; margin-left: 10px">
                    <div class="col">
                        <select id="formaPagamento" name="formaPagamento" class="form-control" style="width: 350px"
                            required>
                            <option value="" selected>Selecione uma opção</option>
                            <% for (let i = 0; i < formaPagamento.length; i++) { %>
                            <option value="<%= formaPagamento[i].ID_FormaPagamento %>">
                                <%= formaPagamento[i].DS_FormaPagamento %>
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1">Forma de Pagamento</label>
                    </div>
                    <div class="col" id="numeroParcelas" style="visibility: hidden;">
                        <select name="numeroParcelas" class="form-control" style="width: 210px">
                            <% for (let i = 1; i <= 12; i++) { %>
                            <option value="<%= i %>">
                                <%= i %>x
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1">Núm. de Parcelas</label>
                    </div>
                    <div class="col">
                        <select id="situacao" name="situacao" class="form-control" style="width: 210px" required>
                            <option value="" selected>Selecione uma opção</option>
                            <% for (let i = 0; i < situacao.length; i++) { %>
                            <option value="<%= situacao[i].ID_PedidoStatus %>">
                                <%= situacao[i].DS_Status %>
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1">Situação</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10px">
                    Efetuar cadastro
                </button>
                <a href="/comercial/vendas">
                    <input value="Cancelar" class="btn btn-primary btn-block mb-4" style="
                                margin-left: 10px;
                                background-color: #343a40;
                                border-color: #343a40;
                                width: 100px;
                            " />
                </a>
            </form>
        </div>
        <input type="hidden" name="valorTotal" id="valorTotal">
    </main>

    <!-- Scripts -->
    <%- include('_scripts.ejs') %>

    <script>
        const produtos = new Array();

        let adicionaProduto = () => {
            let produtoSelecionado = document.getElementById("produtoNovaVenda").value;
            let quantidadeProduto = Number(document.getElementById("quantidade").value);

            let produto = produtoSelecionado.split('|')
            let skuProduto = produto[0]
            let nomeProduto = produto[1]
            let valorProduto = Number(produto[2])

            let tamanho = produtos.length;

            if (tamanho == 0) {
                produtos.push({
                    sku: skuProduto,
                    nome: nomeProduto,
                    valor: valorProduto,
                    quantidade: quantidadeProduto,
                    valorTotal: (quantidadeProduto * valorProduto)
                })
            } else {
                let index = produtos.findIndex(obj => obj.sku == skuProduto)
                if (index >= 0) {
                    produtos[index].quantidade += quantidadeProduto;
                    produtos[index].valorTotal = (produtos[index].quantidade * valorProduto)
                } else {
                    produtos.push({
                        sku: skuProduto,
                        nome: nomeProduto,
                        valor: valorProduto,
                        quantidade: quantidadeProduto,
                        valorTotal: (quantidadeProduto * valorProduto)
                    })
                }
            }
            produtoSelecionado = null;
            quantidadeProduto = 0;

            let tableBody = document.getElementById("tableBody");
            let valorTotal = document.getElementById("lValorTotal");
            let inputValorTotal = document.getElementById("valorTotal");
            let somaValorTotal = 0;

            let tableReturn = "";
            for (let i = 0; i < produtos.length; i++) {
                tableReturn += `<tr>
                          <td>${produtos[i].sku}</td>
                          <td>${produtos[i].nome}</td>
                          <td>${new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(produtos[i].valor)}</td>
                          <td>${produtos[i].quantidade}</td>
                          <td>${new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(produtos[i].valorTotal)}</td>
                        </tr>`;

                somaValorTotal += produtos[i].valorTotal;
            }
            tableBody.innerHTML = tableReturn;
            valorTotal.innerHTML =
                `Valor Total: ${new Intl.NumberFormat('pt-BR', { style: 'currency', currency: 'BRL' }).format(somaValorTotal)}`
            inputValorTotal.value = somaValorTotal
        };

        let formaPagamento = document.getElementById('formaPagamento');
        let numeroParcelas = document.getElementById('numeroParcelas');
        formaPagamento.addEventListener('change', () => {
            console.log(new Date())
            if (formaPagamento.value == "1") {
                numeroParcelas.style.visibility = "visible"
            } else {
                numeroParcelas.style.visibility = "hidden"
            }
        });
    </script>
</body>

</html>