<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Autopeças McQueen</title>
        <link
            rel="canonical"
            href="https://getbootstrap.com/docs/5.2/examples/sidebars/"
        />
        <link rel="icon" href="../../public/image/logo.png" type="image/png" />
        <link
            rel="stylesheet"
            href="../../public/assets/dist/css/bootstrap.min.css"
        />
        <link rel="stylesheet" href="../../public/assets/style.css" />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        />
    </head>

    <body>
        <%- include('_lateral-bar.ejs') %>

        <main>
            <div class="header">
                <h1>Alteração de Cadastro - Clientes</h1>
            </div>

            <div
                class="container-cadastroC"
                style="margin-left: auto; margin-right: auto"
            >
                <form action="/alteraCliente/<%= id %>" method="post">
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input
                                    type="text"
                                    id="form6Example1"
                                    class="form-control"
                                    maxlength="64"
                                    style="width: 760px; margin-top: 10px"
                                    name="nome"
                                    value="<%= cliente.NM_Nome %>"
                                    required
                                />
                                <label class="form-label" for="form6Example1"
                                    >Nome Completo</label
                                >
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input
                                    type="text"
                                    class="form-control cpf"
                                    maxlength="14"
                                    autocomplete="off"
                                    style="width: 140px; margin-top: 10px"
                                    name="cpf"
                                    value="<%= cliente.NR_CPF %>"
                                    readonly
                                />
                                <label class="form-label" for="form6Example1"
                                    >CPF</label
                                >
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col">
                            <div class="form-outline">
                                <input
                                    type="text"
                                    id="form6Example2"
                                    class="form-control"
                                    style="width: 150px"
                                    name="nascimento"
                                    value="<%= cliente.DT_Nascimento.getDate() + '/' + (cliente.DT_Nascimento.getMonth() + 1) + '/' + cliente.DT_Nascimento.getFullYear() %>"
                                    readonly
                                />
                                <label class="form-label" for="form6Example2"
                                    >Data de Nascimento</label
                                >
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input
                                    type="text"
                                    class="form-control phone"
                                    maxlength="15"
                                    style="width: 140px"
                                    name="telefone"
                                    value="<%= cliente.NR_Telefone %>"
                                />
                                <label class="form-label" for="form6Example2"
                                    >Telefone</label
                                >
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-outline">
                                <input
                                    type="email"
                                    id="form6Example1"
                                    class="form-control"
                                    style="width: 520px"
                                    name="email"
                                    value="<%= cliente.DS_Email %>"
                                    required
                                />
                                <label class="form-label" for="form6Example1"
                                    >E-mail</label
                                >
                            </div>
                        </div>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-primary btn-block mb-4"
                        style="margin-left: 10px"
                    >
                        Efetuar Alteração
                    </button>
                    <a href="/comercial/clientes">
                        <input
                            value="Cancelar"
                            class="btn btn-primary btn-block mb-4"
                            style="
                                margin-left: 10px;
                                background-color: #343a40;
                                border-color: #343a40;
                                width: 100px;
                            "
                        />
                    </a>
                </form>
            </div>
        </main>

        <!-- Scripts -->
        <%- include('_scripts.ejs') %>
    </body>
</html>
