<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include('_lateral-bar.ejs') %>

  <main class="cadastroFunc">
    <div class="header">
      <h1>Alteração de dados - Funcionarios</h1>
    </div>

    <div class="container-cadastroC">
      <form action="/alteraFuncionario/<%= id %>" method="post">
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example1" 
                class="form-control" 
                style="width: 760px; margin-top: 10px;"
                name="nomeFuncionario" 
                value="<%= funcionario[0].NM_Nome %>"
                required 
              />
              <label class="form-label" for="form6Example1">Nome Completo</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="cpf" class="form-control cpf"
                style="width: 140px; margin-top: 10px; margin-left: -5px;" 
                name="cpfFuncionario" 
                value="<%= funcionario[0].NR_CPF %>"
                readonly
              />
              <label class="form-label" for="form6Example1">CPF</label>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                class="form-control phone" 
                style="width: 140px;" 
                name="telefoneFuncionario" 
                value="<%= funcionario[0].NR_Telefone %>"
              />
              <label class="form-label" for="form6Example2">Telefone</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control" 
                style="width: 148px;" 
                name="dtNascimentoFuncionario" 
                value="<%= funcionario[0].DT_Nascimento.getDate() + '/' + (funcionario[0].DT_Nascimento.getMonth() + 1) + '/' + funcionario[0].DT_Nascimento.getFullYear() %>"
                readonly 
              />
              <label class="form-label" for="form6Example2">Data de Nascimento</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control" 
                style="width: 148px;" 
                name="codigoFuncionario" 
                value="<%= funcionario[0].NR_Codigo %>"
                readonly 
              />
              <label class="form-label" for="form6Example2">Código</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control" 
                style="width: 148px;" 
                name="loginFuncionario"
                value="<%= funcionario[0].DS_Login %>"
                readonly 
              />
              <label class="form-label" for="form6Example2">Login</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control" 
                style="width: 148px;" 
                name="senhaFuncionario"
                value="<%= funcionario[0].NR_Senha %>" 
                required 
              />
              <label class="form-label" for="form6Example2">Senha</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input 
                type="email" 
                id="form6Example1" 
                class="form-control" 
                style="width: 520px;" 
                name="emailFuncionario" 
                value="<%= funcionario[0].DS_Email %>"
              />
              <label class="form-label" for="form6Example1">E-mail</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example4" 
                class="form-control" 
                style="width: 760px;" 
                name="logradouroFuncionario" 
                value="<%= funcionarioEndereco[0].DS_Logradouro %>"
                required 
              />
              <label class="form-label" for="form6Example4">Endereço</label>
            </div>
          </div>
        </div>
        
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input 
                type="number" 
                id="form6Example2" 
                class="form-control" 
                name="numeroFuncionario"
                value="<%= funcionarioEndereco[0].DS_Numero %>"
                required 
              />
              <label class="form-label" for="form6Example2">Número</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control" 
                name="complementoFuncionario"
                style="width: 150px;"
                value="<%= funcionarioEndereco[0].DS_Complemento %>"
                required 
              />
              <label class="form-label" for="form6Example2">Complemento</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control cep" 
                name="cepFuncionario"
                style="width: 110px;"
                value="<%= funcionarioEndereco[0].DS_CEP %>"
                required 
              />
              <label class="form-label" for="form6Example2">CEP</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control" 
                name="bairroFuncionario" 
                style="width: 180px;"
                value="<%= funcionarioEndereco[0].DS_Bairro %>"
                required 
              />
              <label class="form-label" for="form6Example2">Bairro</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control" 
                name="cidadeFuncionario"
                style="width: 150px;"
                value="<%= funcionarioEndereco[0].DS_Cidade %>"
                required 
              />
              <label class="form-label" for="form6Example2">Cidade</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type="text" 
                id="form6Example2" 
                class="form-control" 
                name="ufFuncionario" 
                style="width: 50px;"
                value="<%= funcionarioEndereco[0].DS_UF %>"
                required 
              />
              <label class="form-label" for="form6Example2">UF</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <select id="departamento" name="departamentoFuncionario" class="form-control" style="width: 100px;">
                <% for (let i = 0; i < valuesDepto.length; i++) { %>
                  <option value="<%= valuesDepto[i].ID_Departamento %>" <% if (valuesDepto[i].ID_Departamento == funcionario[0].ID_Departamento) { %> Selected <% } %>><%= valuesDepto[i].DS_Departamento %></option>
                <% } %>
              </select>
              <label class="form-label" for="form6Example1">Departamento</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select id="cargo" name="cargoFuncionario" class="form-control" style="width: 100px;">
                <% for (let i = 0; i < valuesCargo.length; i++) { %>
                  <option value="<%= valuesCargo[i].ID_Cargo %>" <% if (valuesCargo[i].ID_Cargo == funcionario[0].ID_Cargo) { %> Selected <% } %>><%= valuesCargo[i].DS_Cargo %></option>
                <% } %>
              </select>
              <label class="form-label" for="form6Example1">Cargo</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select id="perfil" name="perfilFuncionario" class="form-control" style="width: 100px;">
                <% for (let i = 0; i < valuesPerfil.length; i++) { %>
                  <option value="<%= valuesPerfil[i].ID_Perfil %>" <% if (valuesPerfil[i].ID_Perfil == funcionario[0].ID_Perfil) { %> Selected <% } %>><%= valuesPerfil[i].DS_Perfil %></option>
                <% } %>
              </select>
              <label class="form-label" for="form6Example1">Perfil</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select id="funcionarioHabilitado" name="flHabilitadoFuncionario" class="form-control" style="width: 100px;">
                <option value="1">Sim</option>
                <option value="0">Não</option>
              </select>
              <label class="form-label" for="form6Example1">Habilitado</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input 
                type  =  "text" 
                id    =  "form6Example2" 
                class =  "form-control" 
                style =  "width: 148px;" 
                name  =  "dtAdmissaoFuncionario" 
                value =  "<%= funcionario[0].DT_Admissao.getDate() + '/' + (funcionario[0].DT_Admissao.getMonth() + 1) + '/' + funcionario[0].DT_Admissao.getFullYear() %>"
                readonly
                />
              <label class="form-label" for="form6Example2">Data de Admissão</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10px;">Efetuar
          Alteração</button>
        <a href="/tecnica/Funcionarios">
          <input value="Cancelar" class="btn btn-primary btn-block mb-4"
            style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">
        </a>
      </form>
    </div>

  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>