<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main>
    <div class="header">
      <h1>Detalhes de Funcionário</h1>
    </div>

    <div class="card-body">
      <table class="table">
        <tr>
          <td class="fw-bold">Código do Funcionário</td>
          <td><%= funcionario[0].NR_Codigo %></td>
        </tr>
        <tr>
          <td class="fw-bold">Nome do Funcionário</td>
          <td><%= funcionario[0].NM_Nome %></td>
        </tr>
        <tr>
          <td class="fw-bold">CPF do Funcionário</td>
          <td class="cpf"><%= funcionario[0].NR_CPF %></td>
        </tr>
        <tr>
          <td class="fw-bold">E-mail do Funcionário</td>
          <td><%= (funcionario[0].DS_Email ?? "") == "" ? "Não Informado" : funcionario[0].DS_Email %></td>
        </tr>
        <tr>
          <td class="fw-bold">Telefone do Funcionário</td>
          <td class="phone"><%= funcionario[0].NR_Telefone %></td>
        </tr>
        <tr>
          <td class="fw-bold">Data de Nascimento do Funcionário</td>
          <td><%= funcionario[0].DataNascimento %></td>
        </tr>
        <tr>
          <td class="fw-bold">Departamento e Cargo do Funcionário</td>
          <td><%= funcionario[0].DS_Departamento %> / <%= funcionario[0].DS_Cargo %></td>
        </tr>
        <tr>
          <td class="fw-bold">Data de Admissão do Funcionário</td>
          <td><%= funcionario[0].DataAdmissao %></td>
        </tr>
        <tr>
          <td class="fw-bold">Funcionário Habilitado</td>
          <td><%= funcionario[0].FL_Habilitado == 1 ? "Habilitado" : "Desabilitado" %></td>
        </tr>
        <tr>
          <td class="fw-bold">Data de Demissão do Funcionário</td>
          <td><%= funcionario[0].DataDemissao ?? "Funcionário Ativo" %></td>
        </tr>


        <tr>
          <td class="fw-bold">Endereço do Funcionário</td>
          <td><%= funcionarioEndereco[0].DS_Logradouro %>, <%= funcionarioEndereco[0].DS_Numero %></td>
        </tr>
        <tr>
          <td class="fw-bold">Complemento</td>
          <td><%= (funcionarioEndereco[0].DS_Complemento ?? "") == "" ? "Não Possui" : funcionarioEndereco[0].DS_Complemento %></td>
        </tr>
        <tr>
          <td class="fw-bold">CEP</td>
          <td class="cep"><%= funcionarioEndereco[0].DS_CEP %></td>
        </tr>
        <tr>
          <td class="fw-bold">Cidade / UF</td>
          <td><%= funcionarioEndereco[0].DS_Cidade %> - <%= funcionarioEndereco[0].DS_UF %></td>
        </tr>
        <tr>
          <td class="fw-bold">Bairro</td>
          <td><%= funcionarioEndereco[0].DS_Bairro %></td>
        </tr>
      </table>
      <a href="/tecnica/funcionarios">
        <button type="button" class="btn btn-primary btn-block mb-4" style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">Voltar</button>
    </a>
    </div>
  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>