<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main>
    <div class="header">
      <h1>Produtos</h1>
    </div>

    <div class="container">

      <div class="table-container">
        <div>
          <button class="aba-active" id="btnCompras">
            <i class="fa fa-archive"></i>
            Produtos
          </button>
        </div>

        <div class="table-top">
          <div class="extras">
            <a href="/tecnica/novoProduto">
              <button class="extra-n">
                <i class="fa fa-plus-square"> Novo</i>
              </button>
            </a>
          </div>

          <table class="table" id="tabelaS">
            <% if (values.length <= 0) { %>
            <tr>
              <td>Não há registros para serem mostrados!</td>
            </tr>
            <% } else {%>
            <thead>
              <tr>
                <th scope="col">Ações</th>
                <th scope="col">SKU</th>
                <th scope="col">Nome</th>
                <th scope="col">Valor Unitario</th>
                <th scope="col">Marca</th>
                <th scope="col">Categoria</th>
                <th scope="col">Disponivel</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < values.length; i++) { %>
              <tr>
                <td scope="row" style="display: flex;">

                  <button class="extra-d tags" value="<%= values[i].NR_SKU %>" style="margin-right: 5px;" gloss="Alterar Produto">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>

                  <button class="myBtn extra-d tags" value="<%= values[i].NR_SKU %>" gloss="Detalhe do Produto">
                    <i class="fa fa-file-text-o"></i>
                  </button>
                </td>
                <!-- Modal -->
                <div class="modal">
                  <!-- Modal content -->
                  <div class="modal-content">
                    <span class="close">&times;</span>
                    <p><%= values[i].NR_SKU %></p>
                  </div>

                </div>
                <td><a href="#"><%= values[i].NR_SKU %></a></td>
                <td><%= values[i].NM_Produto %></td>
                <td>R$ <%= values[i].VL_Preco %></td>
                <td><%= values[i].DS_Marca %></td>
                <td><%= values[i].DS_Categoria %></td>
                <td><%= values[i].FL_Disponivel %></td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

      <!-- Trigger/Open The Modal -->


  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
  <script>

    // Get the modal
      let modal = document.getElementsByClassName("modal")[0];
      // Get the button that opens the modal
      let btn = document.getElementsByClassName("myBtn")[0];
      // Get the <span> element that closes the modal
      let span = document.getElementsByClassName("close")[0];

      // When the user clicks on the button, open the modal
      btn.onclick = function() {
        modal.style.display = "block";
      }

      // When the user clicks on <span> (x), close the modal
      span.onclick = function() {
        modal.style.display = "none";
      }

      // When the user clicks anywhere outside of the modal, close it
      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }
  </script>
  <script>
    $(document).ready(function () {
      $('#tabelaS').DataTable({
        "language": {
          "lengthMenu": "Mostrar _MENU_ dados por página",
          "zeroRecords": "Nada Encontrado",
          "info": "Mostrando página _PAGE_ de _PAGES_",
          "search": "Procurar:",
          "infoFiltered": "(filtrado de _MAX_ registros totais)",
          "paginate": {
            "first": "Primeiro",
            "last": "Último",
            "next": "Próximo",
            "previous": "Anterior"
          },
          "loadingRecords": "Carregando...",
          "processing": "Processando...",
          "emptyTable": "Tabela Vazia"
        },
        lengthMenu: [5, 10, 20, 50, 100, 200, 500]
      });
    });
  </script>
</body>

</html>