<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Autopeças McQueen</title>
    <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/" />
    <link rel="icon" href="../../public/image/logo.png" type="image/png" />
    <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../public/assets/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
    <%- include('_lateral-bar.ejs') %>

    <main>
        <div class="header">
            <h1>Vendas - Nova Venda</h1>
        </div>
        <div class="container-cadastroC">
            <form action="/alteraVenda/<%= pedido[0].ID_Pedido %>" method="post">
                <div class="row mb-4">
                    <div class="col">
                        <select id="vendedor" name="vendedor" class="form-control"
                            style="width: 415px;margin-top: 10px;margin-left: 20px;" disabled>
                            <option value="<%= pedido[0].ID_Funcionario %>">
                                <%= pedido[0].NM_Funcionario %>
                            </option>
                        </select>
                        <label class="form-label" for="form6Example1" style="margin-left: 20px">Vendedor</label>
                    </div>

                    <div class="col">
                        <select id="cliente" class="form-control" name="cliente" style="width: 415px; margin-top: 10px"
                            disabled>
                            <option value="<%= pedido[0].ID_Cliente %>">
                                <%= pedido[0].NM_Cliente %>
                            </option>
                        </select>
                        <label class="form-label" for="form6Example1">Cliente</label>
                    </div>
                </div>

                <div class="row mb-4" style="width: 100%; margin-left: 10px">
                    <div class="col">
                        <select id="formaPagamento" name="formaPagamento" class="form-control" style="width: 350px"
                            required>
                            <option value="">Selecione uma opção</option>
                            <% for (let i = 0; i < formaPagamento.length; i++) { %>
                            <option value="<%= formaPagamento[i].ID_FormaPagamento %>" <% if (pedido[0].ID_FormaPagamento == formaPagamento[i].ID_FormaPagamento) { %> selected <% } %>>
                                <%= formaPagamento[i].DS_FormaPagamento %>
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1">Forma de Pagamento</label>
                    </div>
                    <div class="col" id="numeroParcelas" style="visibility: hidden;">
                        <select name="numeroParcelas" class="form-control" style="width: 210px">
                            <% for (let i = 1; i <= 12; i++) { %>
                            <option value="<%= i %>" <% if (pedido[0].NR_QtdParcelas == i) { %> selected <% } %>>
                                <%= i %>x
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1">Núm. de Parcelas</label>
                    </div>
                    <div class="col">
                        <select id="situacao" name="situacao" class="form-control" style="width: 210px" required>
                            <option value="">Selecione uma opção</option>
                            <% for (let i = 0; i < status.length; i++) { %>
                            <option value="<%= status[i].ID_PedidoStatus %>" <% if (pedido[0].ID_PedidoStatus == status[i].ID_PedidoStatus) { %> selected <% } %>>
                                <%= status[i].DS_Status %>
                            </option>
                            <% } %>
                        </select>
                        <label class="form-label" for="form6Example1">Situação</label>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10px">
                    Efetuar alteração
                </button>
                <a href="/comercial/vendas">
                    <button type="button" class="btn btn-primary btn-block mb-4" style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">Cancelar</button>
                </a>
                <input type="hidden" name="valorTotal" id="valorTotal">
                <input type="hidden" name="produtos" id="produtos">
            </form>
        </div>
    </main>

    <!-- Scripts -->
    <%- include('_scripts.ejs') %>
    <script>
        let formaPagamento = $('#formaPagamento');
        let numeroParcelas = $('#numeroParcelas');
        formaPagamento.val() == "1" ? numeroParcelas.css({'visibility':'visible'}) : numeroParcelas.css({'visibility':'hidden'})

        formaPagamento.on('change', () => {
            formaPagamento.val() == "1" ? numeroParcelas.css({'visibility':'visible'}) : numeroParcelas.css({'visibility':'hidden'})
        });
    </script>
</body>

</html>