<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main>
    <div class="header">
      <h1>Compras</h1>
    </div>

    <div class="container">

      <div class="table-container">
        <div>
          <button class="aba-active" id="btnCompras">
            <i class="fa fa-credit-card-alt"></i>
            Compras
          </button>
        </div>

        <div class="table-top">
          <div class="extras">
            <a href="/comercial/comprasNovaCompra">
              <button class="extra-n">
                <i class="fa fa-plus-square"> Novo</i>
              </button>
            </a>
          </div>

          <table class="table" id="tabelaS">
            <% if (values.length <= 0) { %>
            <tr>
              <td>Não há registros para serem mostrados!</td>
            </tr>
            <% } else {%>
            <thead>
              <tr>
                <th scope="col">Ações</th>
                <th scope="col" style="display: none;">Id</th>
                <th scope="col">Funcionario</th>
                <th scope="col">Fornecedor</th>
                <th scope="col">Dt Compra</th>
                <th scope="col">Pagamento</th>
                <th scope="col">Situação</th>
                <th scope="col">Valor</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < values.length; i++) { %>
              <tr>
                <td scope="col" style="width: 100px;">
                  <a href="/comercial/alteraCompra/<%= values[i].ID_Compra%>">
                    <button class="extra-d tags" gloss="Alterar Compra" value="<%= values[i].ID_Compra %>">
                      <i class="fa fa-pencil-square-o"></i>
                    </button>
                  </a>

                  <a href="/comercial/compraDetalhe/<%= values[i].ID_Compra%>">
                    <button class="myBtn extra-d tags" gloss="Detalhe da Compra">
                      <i class="fa fa-file-text-o"></i>
                    </button>
                  </a>
                </td>
                <td style="display: none;"><%= values[i].ID_Compra %></td>
                <td><%= values[i].NM_Funcionario %></td>
                <td><%= values[i].NM_Empresa %></td>
                <td><%= values[i].DT_Compra %></td>
                <td><%= values[i].DS_FormaPagamento %></td>
                <td><%= values[i].DS_Situacao %></td>
                <td>R$<%= values[i].VL_ValorTotal %></td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
  <script>
    $(document).ready(function () {
      $('#tabelaS').DataTable({
        "language": {
          "lengthMenu": "Mostrar _MENU_ dados por página",
          "zeroRecords": "Nada Encontrado",
          "info": "Mostrando página _PAGE_ de _PAGES_",
          "search": "Procurar:",
          "infoFiltered": "(filtrado de _MAX_ registros totais)",
          "paginate": {
            "first": "Primeiro",
            "last": "Último",
            "next": "Próximo",
            "previous": "Anterior"
          },
          "loadingRecords": "Carregando...",
          "processing": "Processando...",
          "emptyTable": "Tabela Vazia"
        },
        lengthMenu: [5, 8],
        order: [[1,'desc']],
      });
    });
  </script>
</body>

</html>