<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
  <%- include('_lateral-bar.ejs') %>
  <main>
    <div class="header">
      <h1>Detalhes da compra</h1>
</div>
    <div class="card-body" style="float: left;">
    <table class="table">
        <tr>
        <td class="fw-bold">Funcionário responsável</td>
        <td><%= values[0].NM_Funcionario %></td>
        </tr>
        <tr>
        <td class="fw-bold">Fornecedor</td>
        <td><%= values[0].NM_Empresa %></td>
        </tr>
        <tr>
        <td class="fw-bold">Data de compra</td>
        <td><%= values[0].DT_Compra.toLocaleDateString('pt-BR', {year:"numeric", month:"numeric", day:"numeric"}) %></td>
        </tr>
        <tr>
        <td class="fw-bold">Situação da compra</td>
        <td><%= values[0].DS_Situacao %></td>
        </tr>
        <tr>
        <td class="fw-bold">Valor total do pedido</td>
        <td>R$ <%= values[0].VL_ValorTotal %></td>
        </tr>
        <tr>
        <td class="fw-bold">Forma de pagamento</td>
        <td><%= values[0].DS_FormaPagamento %></td>
        </tr>
    </table>
    <a href="/comercial/compras">
        <button type="button" class="btn btn-primary btn-block mb-4" style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">Voltar</button>
        </a>
    </div>
    <div class="card-body" style="float: right;">
        <table class="table">
            <thead>
                <tr>
                    <th class="fw-bold"> Produtos do pedido      </th>
                    <th class="fw-bold"> SKU do produto          </th>
                    <th class="fw-bold"> Quantidade              </th>
                    <th class="fw-bold"> Valor unitario          </th>
                    <th class="fw-bold"> Valor total por produto </th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < values2.length; i++) { %>
                <tr>
                    <td><%= values2[i].NM_Produto %></td>
                    <td><%= values2[i].NR_SKU %></td>
                    <td><%= values2[i].NR_Quantidade %></td>
                    <td>R$ <%= values2[i].VL_ValorUnitario %></td>
                    <td>R$ <%= values2[i].VL_Total %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
  </main>
  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>