<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main class="cadastroFunc">
    <div class="header">
      <h1>Cadastro de Funcionarios</h1>
    </div>

    <div class="container-cadastroC">

      <form action="/cadastroUsuario" method="post">
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" style="width: 760px; margin-top: 10px;"
                name="nomeFuncionario" required />
              <label class="form-label" for="form6Example1">Nome Completo</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control cpf"
                style="width: 140px; margin-top: 10px; margin-left: -5px;" maxlength="14" autocomplete="off" name="cpfFuncionario" required />
              <label class="form-label" for="form6Example1">CPF</label>
            </div>
          </div>
        </div>
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control phone" maxlength="15" autocomplete="off" style="width: 140px;" name="telefoneFuncionario" />
              <label class="form-label" for="form6Example2">Telefone</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="date" id="datePickerId" class="form-control" style="width: 148px;" name="dtNascimentoFuncionario" required />
              <label class="form-label" for="form6Example2">Data de Nascimento</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" style="width: 148px;" name="codigoFuncionario" required />
              <label class="form-label" for="form6Example2">Código</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" style="width: 148px;" name="loginFuncionario" required />
              <label class="form-label" for="form6Example2">Login</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" style="width: 148px;" name="senhaFuncionario" required />
              <label class="form-label" for="form6Example2">Senha</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="email" class="form-control" style="width: 520px;" name="emailFuncionario" />
              <label class="form-label" for="form6Example1">E-mail</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" style="width: 760px;" name="logradouroFuncionario" required />
              <label class="form-label" for="form6Example4">Endereço</label>
            </div>
          </div>
        </div>
        
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="number" class="form-control" name="numeroFuncionario" required />
              <label class="form-label" for="form6Example2">Número</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="complementoFuncionario" required />
              <label class="form-label" for="form6Example2">Complemento</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control cep" maxlength="9" autocomplete="off" name="cepFuncionario" required />
              <label class="form-label" for="form6Example2">CEP</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="bairroFuncionario" required />
              <label class="form-label" for="form6Example2">Bairro</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" class="form-control" name="cidadeFuncionario" required />
              <label class="form-label" for="form6Example2">Cidade</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text"   class="form-control" maxlength="2" autocomplete="off" name="ufFuncionario" style="width: 50px;" required />
              <label class="form-label" for="form6Example2">UF</label>
            </div>
          </div>
        </div>

        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <select id="departamento" name="departamentoFuncionario" class="form-control" style="width: 100px;">
                <% for (let i = 0; i < valuesDepto.length; i++) { %>
                <option value="<%= valuesDepto[i].ID_Departamento %>"><%= valuesDepto[i].DS_Departamento %></option>
                <% } %>
              </select>
              <label class="form-label" for="form6Example1">Departamento</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select id="cargo" name="cargoFuncionario" class="form-control" style="width: 100px;">
                <% for (let i = 0; i < valuesCargo.length; i++) { %>
                <option value="<%= valuesCargo[i].ID_Cargo %>"><%= valuesCargo[i].DS_Cargo %></option>
                <% } %>
              </select>
              <label class="form-label" for="form6Example1">Cargo</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select id="perfil" name="perfilFuncionario" class="form-control" style="width: 100px;">
                <% for (let i = 0; i < valuesPerfil.length; i++) { %>
                <option value="<%= valuesPerfil[i].ID_Perfil %>"><%= valuesPerfil[i].DS_Perfil %></option>
                <% } %>
              </select>
              <label class="form-label" for="form6Example1">Perfil</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <select id="funcionarioHabilitado" name="flHabilitadoFuncionario" class="form-control" style="width: 100px;">
                <option value="1">Sim</option>
                <option value="0">Não</option>
              </select>
              <label class="form-label" for="form6Example1">Habilitado</label>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="date" class="form-control" style="width: 148px;" name="dtAdmissaoFuncionario" required />
              <label class="form-label" for="form6Example2">Data de Admissão</label>
            </div>
          </div>
        </div>
        <button type="submit" class="btn btn-primary btn-block mb-4" style="margin-left: 10px;">Efetuar
          cadastro</button>
        <a href="/tecnica/Funcionarios">
          <input value="Cancelar" class="btn btn-primary btn-block mb-4"
            style="margin-left: 10px; background-color: #343a40; border-color: #343a40; width: 100px;">
        </a>
      </form>
    </div>

  </main>

  <!-- Scripts -->
  <%- include('_scripts.ejs') %>
</body>

</html>