<!doctype html>
<html lang="pt-BR">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Autopeças McQueen</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.2/examples/sidebars/">
  <link rel="icon" href="../../public/image/logo.png" type="image/png" />
  <link rel="stylesheet" href="../../public/assets/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="../../public/assets/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>

  <%- include('_lateral-bar.ejs') %>

  <main>
    <div class="header">
      <h1>Funcionários</h1>
    </div>

    <div class="container">

      <div class="table-container">
        <div>
          <button class="aba-active" id="btnCompras">
            <i class="fa fa-credit-card-alt"></i>
            Funcionários
          </button>
        </div>

        <div class="table-top">
          <div class="extras">
            <a href="/tecnica/cadastraFuncionario">
              <button class="extra-n">
                <i class="fa fa-plus-square"> Novo</i>
              </button>
            </a>
            
            <input type="text" class="extra-s" placeholder="Pesquisa por COD">
            <input type="month" id="month" class="extra-m">
          </div>

          <table class="table" on>
            <% if (values.length <= 0) { %>
            <tr>
              <td>Não há registros para serem mostrados!</td>
            </tr>
            <% } else {%>
            <thead>
              <tr>
                <th scope="row">Ações</th>
                <th scope="col">Cod</th>
                <th scope="col">Nome</th>
                <th scope="col">E-Mail</th>
                <th scope="col">Departamento</th>
                <th scope="col">Cargo</th>
                <th scope="col">Data de Admissão</th>
              </tr>
            </thead>
            <tbody>
              <% for (let i = 0; i < values.length; i++) { %>
              <tr>
                <td scope="row">
                  <button class="extra-d" value="<%= values[i].ID_Funcionario %>">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                </td>
                <td><a href="#"><%= values[i].NR_Codigo %></a></td>
                <td><%= values[i].NM_Nome %></td>
                <td><%= values[i].DS_Email ?? "Não Possui" %></td>
                <td><%= values[i].DS_Departamento %></td>
                <td><%= values[i].DS_Cargo %></td>
                <td><%= values[i].DT_Admissao %></td>
              </tr>
              <% } %>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>

  </main>

  <!-- Scripts -->
  <script src="../../public/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="../../public/js/index.js"></script>
  <script src="../../public/js/funcionarios.js"></script>
</body>

</html>